body {
			margin: 2px 4px 2px 2px;
			background: #770000;
			#background: #222222;
			font-family: Verdana;
			color: #C93030;
			color: #f5f1eb;
			font-size: 0.9em;
			text-shadow: 1px 1px 0px #000;
			line-height: 26px;
		}

		