body {
			margin: 2px 4px 2px 2px;
			background-image:url('passionOfJesus-PageBackground.png');
			font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
			color: #f5f1eb;
			font-size: 0.9em;
			text-shadow: 1px 1px 0px #000;
			line-height: 26px;
		}

		